{% extends "layout.html" %}
{% block titulo %}Register - {{ block.super }}{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}
{% block conteudo %}
<h2 align="center">Rates</h2>
<br />
<div align="center">
    <ul>
        <li>Rate xp: 5000x</li>
        <li>Rate sp: 5000x</li>
        <li>Rate drop: 200x</li>
        <li>Rate adena: 700x</li>
        <li>Normal scroll: 85%</li>
        <li>Blesed scroll: 100%</li>
        <li>Max enchant weapon: 25</li>
        <li>Max enchant armor: 25</li>
        <li>Buf slots: 30 + 20</li>
        <li>PVP System color</li>
    </ul>
</div>
{% endblock %}
{% block login %}{{ block.super }}{% endblock %}