{% extends "layout.html" %}
{% block titulo %}Register - {{ block.super }}{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}
{% block conteudo %}
<h2 align="center">Sócio</h2>
<br />
<div align="left">
    <label>O SERVIDOR ESTÁ ABRINDO 10 VAGAS PARA SÓCIOS<br />
    O SÓCIO TERÁ DIREITO A:<br />
     - BUFFS ENCHANTADOS NO NPC<br />
     - HERO ETERNO<br />
     - CHAR FULL SKILL+30\+15<br />
     - SET/ARMA +25<br />
    <br />
    NÃO PERCA TEMPO E GARANTA LOGO A SUA VAGA !!!<br />
    PARA SE TORNAR SÓCIO É NECESSÁRIO DEPOSITAR <span style="color: #F00; font-weight: bold;">R$50,00 MENSALMENTE</span> NA SEGUINTE CONTA BANCÁRIA<br />
    CONTA: <span style="color: #F00; font-weight: bold;">15761-0</span><br />
    AGÊNCIA: <span style="color: #F00; font-weight: bold;">1746</span><br />
    TIPO DE CONTA: <span style="color: #F00; font-weight: bold;">013 (POUPANÇA)</span><br />
    FAVORECIDO: <span style="color: #F00; font-weight: bold;">RAFAEL NEVES</span><br />
    </label>
</div>
{% endblock %}
{% block login %}{{ block.super }}{% endblock %}